.ContactCard {
  color: black;
  box-shadow: 0px 4px 4px 4px rgba(100, 98, 98, 0.411);;
  transition: 0.2s all linear;
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
 
}
.ContactCard img{
    border-radius: 20px;
    height: 400px !important;
}
.ContactCard:hover {
  color: rgb(230, 230, 22);
  box-shadow: 0px 12px 12px 12px rgba(100, 98, 98, 0.411);
}
.ContactCardTitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 150px !important;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  border-radius:0 0 20px 20px;
}
